@font-face {
	src: url(/assignment/src/css/a신디나루M.ttf);
    font-family: "main-font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "main-font";
}


/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	text-decoration-line: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
	border: none;
	background-color: transparent;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(/assignment/src/css/img/background.png);
	font-family: "main-font";
	font-size: 20px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
	outline: none;
	border: none;
}

.background {
	background-color: rgba(255, 255, 255, 0.5);
}

/* ************************************************************* */

/* ************************************************************* */
/* 헤더 */
.header {
	background-color: rgba(255, 255, 255, 0.8);
	height: 85px; 
	text-align: center;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
}

.user-icon {
	background-image: url(/assignment/src/css/img/user.png);
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
}

.header-a {
	display: inline-block;
	font-size: 40px;
	color:#FE8F8F;
	font-weight: 600;
}

.search-icon {
	background-image: url(/assignment/src/css/img/search.png);
	width: 50px;
	height: 50px;
	float: right;
	cursor: pointer;
}
/* ************************************************************* */

/* ************************************************************* */
/* 푸터 */
.footer {
	background-color: rgba(255, 255, 255, 0.8);
	height: 85px;
	padding-top: 15px;
	padding-left: 30px;
	line-height: 50px;
	text-align: left;
}

.music-icon {
	background-image: url(/assignment/src/css/img/music.png);
	width: 50px;
	height: 50px;
	float: left;
}

.music-lyrics {
	height: 50px;
	margin-left: 70px;
	background-color: antiquewhite;
}
/* ************************************************************* */

/* ************************************************************* */
/* 유저 페이지 */

.user-main {
	height: 880px;
	padding-top: 250px;
}

.user-content {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	text-align: center;
}

.user-character-jjanggu {
	background-image: url(/assignment/src/css/img/jjanggu.png);
	background-size: cover;
	width: 300px;
	height: 300px;
}

.user-character-cheolsu {
	background-image: url(/assignment/src/css/img/cheolsu.png);
	background-size: cover;
	width: 300px;
	height: 300px;
}

.user-character-maenggu {
	background-image: url(/assignment/src/css/img/maenggu.png);
	background-size: cover;
	width: 300px;
	height: 300px;
}

.user-character-yuli {
	background-image: url(/assignment/src/css/img/yuli.png);
	background-size: cover;
	width: 300px;
	height: 300px;
}

.user_name {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;
	text-align: center;
	margin-top: 20px;
}

.user_name_gap {
	margin-top: 320px;
	color: #fff;
	font-size: 30px;
	font-weight: 600;
}
/* ************************************************************* */

/* ************************************************************* */
/* 리스트 페이지 */

.list-main {
	height: 880px;
	padding-top: 50px;
}

.list-content {
	width: 1500px;
	height: 700px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0px 0px 50px 0px rgb(180, 180, 180);
	position: relative;
}

.list-content table {
	width: 1500px;
	height: 100px;
	/* background-color: #FE8F8F; */
	line-height: 100px;
	text-align: center;
}

.list-content table th {
	background-color: #fe8f8fda;
	font-size: 25px;
	color: #fff;
}

.list-content table td {
	background-color: rgba(255, 255, 255, 0.3);
	color: rgba(0, 0, 0, 0.8);
}

.list-content-btn {
	cursor: pointer;
}

.list-content-btn:hover {
	transform: scale(1);
	font-weight: 600;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 1.5rem;
	transition-duration: 0.1s;
	color: #fe8f8fda;
}


.list-content-num-btn {
	text-align: center;
	height: 70px;
	background-color: #fe8f8fda;
	position: absolute;
	bottom: -70px;
	width: 100%;
	padding: 10px;
}

.list-content-num-btn a {
	display: inline-block;
	line-height: 50px;
	margin-right: 40px;
	width: 50px;
	height: 50px;
	color: #fff;
	/* background-color: rgb(143, 143, 251); */
}

.list-content-num-btn a:last-child {
	margin-right: 0px;
}

.page-on {
	border-radius: 50px;
	color: #FE8F8F;
	background-color: rgba(255, 255, 255, 0.5);
}