@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* list 페이지 */
* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(/mini_board/src/css/img/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: -50px 0px; */
}


header {
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 1.5rem;
	border-bottom: 1px solid #929292;
}

header > h1 {
	margin: 0;
	color: #ffffff;
	text-align: center;
	font-size: 2rem;
}

header > h1 > a {
	color: #fff;
	text-decoration-line: none;
}

/* .header-a {
	color: #fff;
	text-decoration-line: none;
} */

table {
	border-collapse: collapse;
	width: 1000px;
	height: 500px;
	margin: 150px auto 20px;
	font-size: 1.5rem;
	border: 1px solid #929292;
	border-style: hidden;

}

tr, td {
	border-bottom: 1px solid #000;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	color: #fff;
}

.table-title {
	border-collapse:separate;
	border-radius: 100px;
}

.table-title {
	border: none;
	background-color: rgba(0,0,0);
	color: #fff;
}

.table-tr-td-a {
	color: #fff;
	text-decoration-line: none;
}

section {
	background-color: rgba(0,0,0);
	text-align: center;
	border: 1px solid #929292;
	width: 1000px;
	margin: auto;
}

.main-div {
	width: 1000px;
	margin: auto;
}

.main-div-a{
	color: #000;
	display: inline-block;
	text-align: left;
	text-decoration: none;
}

section > a {
	text-decoration: none;
	display: inline-block;
	/* border-radius: 25%; */
}

.page-btn {
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #808080;
}

.page-btn:hover {
	color: #fff;
	/* background-color: #fff; */
}

/* ------------------------------------------------------------------------------- */

/* detail 페이지 */

.detail-page-a {
	width: 1000px;
	margin: auto;
	text-align: right;
}

.detail-page-a > a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin: auto;
	width: 60px;
	padding: 10px;
	background-color: #808080;
	color: #ffffff;
	border-radius: 30px;
	font-size: 800;
}

.detail-page-a > a:hover {
	color: #000000;
	/* background-color: #fff; */
}